<div class="main-wrapper">
  <title-bar></title-bar>
  <div class="content">
    <div class="actions">
      <main-actions
        [accounts]="accounts"
        [currentUser]="currentUser"
        [selectedAccount]="selectedAccount"
        (accountSelectionChange)="accountSelectionChange.emit($event)"
        (refreshSelectedAccount)="refreshSelectedAccount.emit()"
        (transferFunds)="transferFunds.emit()"
      ></main-actions>
    </div>
    <account-history-table
      [accountHistory]="accountHistory"
    ></account-history-table>
  </div>
</div>