@use "variables" as *;

.home-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $shade-white-grey;
    height: 100%;
    font-family: "balantro";
    
    .header-wrapper {
        padding: 16px 16px 0px 16px;
        background-color: $color-blue;
        .main-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            background-color: $shade-white;
    
            border-top: 24px solid $color-red;
            border-left: 24px solid $color-red;
            border-bottom: 24px solid $color-green;
            border-right: 24px solid $color-green;
            border-radius: 5px; 
            
            h1 {
                display: flex;
                font-size: 70px;
                flex-direction: column;
                justify-content: space-around;
                font-family: "balantro";
                
            }
    
            img {
                height: 200px;
                &.right {
                    transform: rotate(20deg) translate(35px, -30px);
                    overflow: hidden;
                }
                &.left {
                    transform: rotate(345deg) translate(-40px, 60px);
                }
            }
        }
    }
    .content {
        margin-left: 16px;
        width: 500px;
        border-right: $color-red solid 5px;
        border-left: $color-red solid 5px;
        border-bottom: $color-red solid 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $shade-black-ligher;

        .sidebar-game {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            .sidebar-header {
                background-color: $shade-black;
                border: $color-red solid 5px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 32px 80px;
                margin: auto;
                .title-wrapper {
                    .title {
                        text-align: center;
                        border-radius: 10px;
                        padding: 8px 16px 8px 24px;
                        font-size: 80px;
                        letter-spacing: 5px;
                        color: $shade-white;
                    } 
                }
                .subtext {
                    margin: auto;
                    margin-top: 16px;
                    span {
                        color: $shade-white;
                        font-size: 18px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        .game-score {
            background-color: $shade-black-ligher;
            display: flex;
            color: $shade-white;
            .round-score {
                background-color: $shade-black;
                $shade-white-space: pre-line;
                padding: 16px;
                span {
                    text-align: left;
                    font-size: 18px;
                }
            }
            .clip-count {
                margin: auto;
                display: flex;
                flex-direction: row;
                font-size: 48px;
            }
        }
        .game-content {

        }
    }
}