<div class="home-wrapper">
    <div class="header-wrapper">
        <div class="main-header"> 
            <img src="./assets/images/reid-joker.jpg" alt="joker-img" class="right">
            <h1>De Olde Snack Shack</h1>
            <img src="./assets/images/joker.png" alt="joker-img" class="left">
        </div>
    </div>
    <div class="content">
        <div class="sidebar-game">
            <div class="sidebar-header">
                <div class="title-wrapper">
                    <div class="title">
                        <span class="moving-border">SHOP</span>
                    </div>
                </div>
                <div class="subtext">
                    <span>Improve your run!</span>
                </div>
            </div>
            
        </div>
        <div class="game-score">
            <div class="round-score">
                <span>{{"Bowl\nCount"}}</span>
            </div>
            <div class="clip-count">
                <span>{{ ChipCount }}</span>
            </div>
        </div>
        <!-- <div class="game-content">
            CONTENT
        </div> -->
    </div>
</div>