<div class="home-wrapper">
    <title-bar></title-bar>
    <div class="content">
        <div class="sidebar-game">
            <div class="sidebar-header">
                <div class="title-wrapper">
                    <div class="title">
                        <span class="moving-border">SHOP</span>
                    </div>
                </div>
                <div class="subtext">
                    <span>Improve your run!</span>
                </div>
            </div>
            
        </div>
        <div class="game-score">
            <div class="round-score">
                <span>{{"Bowl\nCount"}}</span>
            </div>
            <div class="clip-count">
                <span>{{ ChipCount }}</span>
            </div>
        </div>

    </div>
</div>