@use "variables" as *;

.action-wrapper {
  .action-list {
    height: 550px;
    display: flex;
    flex-direction: column;
    h1 {
        color: $color-gray-200
    }
  }
  .header {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    .item {
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .admin-controls {
      margin-left: auto;
    }
    .account-select {
      margin-left: 32px;
      width: 350px;
    }
    .edit {
      width: 100px;
      button {
        height: 30px;
        &.mat-mdc-button-disabled {
          background-color: $shade-white-grey;
          opacity: .3;
        }
      }
    }
    .refresh, .notifications {      
      margin-right: auto;
      mat-icon {
        cursor: pointer;
        color: $white;
        height: unset;
        width: unset;
        font-size: 32px;
        &:hover {
          color: $color-gray-500;
        }
      }
    }
  }
  .content {
    .item {
      display: flex;
      color: white;
      letter-spacing: 1px;
      margin-bottom: 8px;
      width: 500px;
      .title {
        font-size: 20px;
        width: 250px;
        color: $color-gray-500
        // margin-right: 16px;
      }
      .value {
        width: 350px;
        font-size: 20px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .footer {

  }
}
