<div class="account-wrapper">
  <div class="action-list">
    <div class="header">
      <h1>Account Infomation</h1>
    </div>
    <div class="content">
      <div class="account-select item">
        <mat-form-field>
          <mat-label>Select Account</mat-label>
          <mat-select (selectionChange)="accountSelectionChange.emit($event.value)" [value]="selectedAccount?.accountId">
            @for (acct of accounts; track acct) {
              <mat-option [value]="acct.accountId">{{acct.accountName}} - {{acct.currencyCode}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="actions item" *ngIf="selectedAccount"> 
        <button 
          mat-flat-button 
          (click)="deleteAccountClick()"
          >Transfer Funds
        </button>
        <button 
          mat-flat-button 
          (click)="logoutClick()"
          >Log Out
        </button>
      </div>
      <div class="account-name item">
        <div class="title">Account Name:</div>
        <div class="value">{{selectedAccount?.accountName}}</div>
      </div>
      <div class="current-balance item">
        <div class="title">Current Balance:</div>
        <div class="value">{{selectedAccount?.amount}} - {{selectedAccount?.currencyCode}}</div>
      </div>
    </div>
  </div>
</div>