<div class="dialog-wrapper">
  <div class="dialog-header">
    <h2>Update Account</h2>
    <span>{{data.accountName}} - {{data.currencyCode}}</span>
  </div>
  <div class="dialog-content">
    <mat-form-field>
      <mat-label>Account Name</mat-label>
      <input matInput placeholder="Account Name" [formControl]="accountName" required />
    </mat-form-field>
  </div>
  <div class="button-container">
    <button
      mat-stroked-button
      color="secondary"
      (click)="onCloseDialog('secondary')"
    >Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onCloseDialog('primary')"
    >Submit</button>
  </div>
</div>