@use "variables" as *;

.action-wrapper {
    width: calc(100vh - 500px); //subtract the width of shop
    .action-list {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h1 {
            color: $white;
        }
    }
    .item {
    }
    .footer {

    }
}
