@use "variables" as *;

.main-wrapper {
    height: 100vh;
    background-color: $shade-white-grey;
    width: 100%;
    min-width: 1200px;
    overflow-x: scroll;
    .content {
        display: flex;
        width: 100%;
        background-color: $shade-black-ligher;
    }
}