/* You can add global styles to this file, and also import other style files */

html,body
{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
body {
  margin: 0px;
  padding: 0px;
}

* {
    font-family: "balantro";
}